body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-self: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lcd {
  font-family: 'digital-clock-font';
    font-size: 3em;
    background-color:silver;
    padding:5%;
    border-radius: 15%;
    padding: 1px;
    margin: .25em;
    text-align: right;
    padding-right: 5px;
}

.calculator {

  border: .1em;
  border-color: black;
  border-style: solid;
  border-radius: 5%;
  width: 200px;
  margin-block-end: 45%;
  
}
.btn {
  margin: 3px;
}

@font-face{
  font-family:'digital-clock-font';
  src: url('RADIOLANDSLIM.ttf');
 }
